<style type="text/css" media="screen">
._citys { width: 450px; display: inline-block; border: 2px solid #eee; padding: 5px; position: relative; background: #fff;}
._citys span { color: #56b4f8; height: 15px; width: 15px; line-height: 15px; text-align: center; border-radius: 3px; position: absolute; right: 10px; top: 10px; border: 1px solid #56b4f8; cursor: pointer; }
._citys0 { width: 100%; height: 34px; display: inline-block; border-bottom: 2px solid #56b4f8; padding: 0; margin: 0; }
._citys0 li { display: inline-block; line-height: 34px; font-size: 15px; color: #888; width: 80px; text-align: center; cursor: pointer; }
.citySel { background-color: #56b4f8; color: #fff !important; }
._citys1 { width: 100%; display: inline-block; padding: 10px 0; }
._citys1 a { width: 83px; height: 35px; display: inline-block; background-color: #f5f5f5; color: #666; margin-left: 6px; margin-top: 3px; line-height: 35px; text-align: center; cursor: pointer; font-size: 13px; overflow: hidden; }
._citys1 a:hover { color: #fff; background-color: #56b4f8; }
.AreaS { background-color: #56b4f8 !important; color: #fff !important; }
#_citysheng li:nth-last-child(1){display:none !important;}
.search-choice{
    position:relative;
}
#PoPy{
    position:absolute;
    top: 183px;
    left: 0px;
}
</style>
<div class="gray-bg" ng-controller="com_ctrl">
    <div class="wrapper wrapper-content">
        <div class="row animated fadeInRight">
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5 ng-if="tapshow==0">个人资料</h5>
                        <h5 ng-if="tapshow==1">信息编辑</h5>
                        <div class="fr" ng-if="tapshow==0" tapshowupload2='1' more='1' savekey="com_editadd.params.headimg">
                            <p class="editxinxi">
                                <img src="/images/edit.png" alt="">编辑
                            </p>
                        </div>
                    </div>
                    <div ng-if="tapshow==0">
                        <div class="ibox-content no-padding border-left-right" style="width: 354px;height: 237px;">
                            <img alt="个人照" class="img-responsive" ng-src="{{com_detail.data.headimg}}">
                        </div>
                        <div class="ibox-content profile-content">
                            <h4><strong>{{com_detail.data.nickname}}</strong></h4>
                            <p><i class="fa fa-map-marker"></i> {{com_detail.data.city}}</p>
                            <h5>关于我</h5>
                            <p style="word-break:break-word;">{{com_detail.data.summary}}</p>
                            <div class="row m-t-lg" style="margin-bottom: 28px;">
                                <div class="col-sm-4 text-center underline1">
                                    <span>{{com_detail.data.photonum}}</span>
                                    <h5>照片</h5>
                                </div>
                                <div class="col-sm-4 text-center bdriji_1 underline1">
                                    <span>{{com_detail.data.diarynum}}</span>
                                    <h5>日记</h5>
                                </div>
                                <div class="col-sm-4 text-center underline1">
                                    <span>{{com_detail.data.saynum}}</span>
                                    <h5>说说</h5>
                                </div>
                            </div>
                            <div class="user-button">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <button type="button" class="btn btn-primary btn-sm btn-block"><i class="fa fa-envelope"></i> 留言板</button>
                                    </div>
                                    <div class="col-sm-6">
                                        <button type="button" class="btn btn-default btn-sm btn-block"><i class="fa fa-coffee"></i> 活动日程</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="tapshow==1">
                        <div id="fileList" class="ibox-content no-padding border-left-right" style="width: 354px;height: 237px;">
                            <img alt="个人照" class="img-responsive" ng-src="{{com_editadd.params.headimg}}">
                        </div>
                        <div class="col-xs-11 upload">
                            <button name="picker">上传美照</button>
                        </div>
                        <div class="row nickname">
                            <div class="account account2">
                                <p class="text-right">昵称</p>
                            </div>
                            <div class="col-xs-6 account_in">
                                <input ng-model="com_editadd.params.nickname" type="text" placeholder="请输入昵称">
                            </div>
                        </div>
                        <div class="row nickname">
                            <div class="account account2">
                                <p class="text-right">所在城市</p>
                            </div>
                            <div class="col-xs-6 account_in">
                                <input ng-model="com_editadd.params.city" id="city"  ng-click="city($event)" type="text" name="searchCom" pname="{{com_editadd.params.city}}" cname="" placeholder="点击选择地址">
                            </div>
                        </div>
                        <div class="row nickname">
                            <div class="account account2">
                                <p class="text-right">个人简介</p>
                            </div>
                            <div class="col-xs-6 account_in" style="width: 60%;">
                                <textarea ng-model="com_editadd.params.summary" type="text" placeholder="请输入个人简介" style="width: 100%;height: 86px;"></textarea>
                            </div>
                        </div>
                        <div class="row pt_34">
                            <div class="col-xs-12 text-center">
                                <button tapshowrun="com_editadd" tap="0" class="save_btn">保存</button>
                                <button tapshow="0" class="save_btn">返回</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="ibox float-e-margins" style="position: relative;">
                    <div class="ibox-title">
                        <h5>最新动态</h5>
                    </div>
                    <div class="ibox-content" style="height: 555px;position: absolute;overflow-y: auto;">
                        <div>
                            <div class="feed-activity-list">

                                <div class="feed-element">
                                    <a href="profile.html#" class="pull-left">
                                        <img alt="image" class="img-circle" src="/images/a1.jpg">
                                    </a>
                                    <div class="media-body ">
                                        <small class="pull-right text-navy">1天前</small>
                                        <strong>奔波儿灞</strong> 关注了 <strong>灞波儿奔</strong>.
                                        <br>
                                        <small class="text-muted">54分钟前 来自 皮皮时光机</small>
                                        <div class="actions">
                                            <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> 赞 </a>
                                            <a class="btn btn-xs btn-danger"><i class="fa fa-heart"></i> 收藏</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="feed-element">
                                    <a href="profile.html#" class="pull-left">
                                        <img alt="image" class="img-circle" src="/images/profile.jpg">
                                    </a>
                                    <div class="media-body ">
                                        <small class="pull-right">5分钟前</small>
                                        <strong>作家崔成浩</strong> 发布了一篇文章
                                        <br>
                                        <small class="text-muted">今天 10:20 来自 iPhone 6 Plus</small>

                                    </div>
                                </div>
                                <div class="feed-element">
                                    <a href="profile.html#" class="pull-left">
                                        <img alt="image" class="img-circle" src="/images/a2.jpg">
                                    </a>
                                    <div class="media-body ">
                                        <small class="pull-right">2小时前</small>
                                        <strong>作家崔成浩</strong> 抽奖中了20万
                                        <br>
                                        <small class="text-muted">今天 09:27 来自 Koryolink iPhone</small>
                                        <div class="well">
                                            抽奖，人民币2000元，从转发这个微博的粉丝中抽取一人。11月16日平台开奖。随手一转，万一中了呢？
                                        </div>
                                        <div class="pull-right">
                                            <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> 赞 </a>
                                            <a class="btn btn-xs btn-white"><i class="fa fa-heart"></i> 收藏</a>
                                            <a class="btn btn-xs btn-primary"><i class="fa fa-pencil"></i> 评论</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="feed-element">
                                    <a href="profile.html#" class="pull-left">
                                        <img alt="image" class="img-circle" src="/images/a3.jpg">
                                    </a>
                                    <div class="media-body ">
                                        <small class="pull-right">2天前</small>
                                        <strong>天猫</strong> 上传了2张图片
                                        <br>
                                        <small class="text-muted">11月7日 11:56 来自 微博 weibo.com</small>
                                        <div class="photos">
                                            <a target="_blank" href="http://24.media.tumblr.com/20a9c501846f50c1271210639987000f/tumblr_n4vje69pJm1st5lhmo1_1280.jpg">
                                                <img alt="image" class="feed-photo" src="/images/p1.jpg">
                                            </a>
                                            <a target="_blank" href="http://37.media.tumblr.com/9afe602b3e624aff6681b0b51f5a062b/tumblr_n4ef69szs71st5lhmo1_1280.jpg">
                                                <img alt="image" class="feed-photo" src="/images/p3.jpg">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="feed-element">
                                    <a href="profile.html#" class="pull-left">
                                        <img alt="image" class="img-circle" src="/images/a4.jpg">
                                    </a>
                                    <div class="media-body ">
                                        <small class="pull-right text-navy">5小时前</small>
                                        <strong>在水一方Y</strong> 关注了 <strong>那二十年的单身</strong>.
                                        <br>
                                        <small class="text-muted">今天 10:39 来自 iPhone客户端</small>
                                        <div class="actions">
                                            <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> 赞 </a>
                                            <a class="btn btn-xs btn-white"><i class="fa fa-heart"></i> 收藏</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary btn-block m"><i class="fa fa-arrow-down"></i> 显示更多</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>